beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
Flask==1.1.1
graphviz==0.13.2
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
memory-profiler==0.57.0
objgraph==3.4.1
pbr==5.4.4
pipupgrade==1.6.5
psutil==5.6.7
Pympler==0.8
python-dotenv==0.10.3
pytz==2019.3
redis==3.3.11
requests==2.22.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
stevedore==1.31.0
urllib3==1.25.7
virtualenv==16.7.9
virtualenv-clone==0.5.3
Werkzeug==0.16.0
